.doctors-table {
    width: 100%;
    height: 80vh;
}
.doctor-photo-list {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.doctor-name-list {
    display: inline-block;
}
#root {
    background: #fff;
}